venv/
*.pyc
__pycache__/
db.sqlite3
.env
staticfiles/
media/
artifacts/
*.log
node_modules/
.DS_Store
*.zip
*.v7backup
*.v8backup
*.v11backup
*.v12backup
*.qabackup
*.videoreplacementbackup

scratch/
landing_backups/static/videoplayback.mp4
